@charset "utf-8";


#sub {
    width: 1230px;
    margin: 0 auto;
    border: 3px solid #ededed;
    box-sizing: border-box;
    position: relative;
}


#product img {
    width: 550px;
    height: 550px;
    margin-top: -72px;

}

h3 {
    text-align: center;
    width: 200px;
    height: 25px;
    margin-left: 550px;
    margin-top: 50px;
    font-size: 25px;

    color: #333;
}

#sub table {
    width: 600px;
    height: 390px;
    border-top: 3px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;

    position: absolute;
    top: 100px;
    right: 10px;
    font-size: 20px;
    color: #333;


}


span {
    font-weight: bold;
    font-size: 30px;
}

select {
    width: 300px;
    height: 20px;
    text-align: center;
}

td:first-child {
    width: 100px;
}

button {
    margin: 3px;
    cursor: pointer;
}

button:nth-of-type(1) {
    background-color: rgb(255, 236, 239);
    border-radius: 3px;
    padding: 10px 20px;
    color: #333;
    border: none;
    width: 628px;
    font-size: 24px;
    margin-left: -4px;
    font-weight: bold;
}

button:nth-of-type(2) {
    background-color: #fff;
    color: #333;
    border: 3px solid rgb(255, 236, 239);
    ;
    font-weight: bold;
    font-size: 24px;
    width: 300px;
    height: 50px;
    margin-left: -4px;

}

button:nth-of-type(3) {
    background-color: #fff;
    color: #333;
    border: 3px solid rgb(255, 236, 239);
    ;
    font-weight: bold;
    font-size: 24px;
    width: 300px;
    height: 50px;
    margin-left: 17px;

}

#main1 {
    font-size: 25px;
    margin: 24px auto 0px;
    text-align: center;
}


#maintext1 {

    margin: 24px auto 0px;
    text-align: center;
}


.aclass {
    margin: 0 auto;
    width: 1200px;

}

.aclass>ul>li {
    box-sizing: border-box;
    float: left;
    width: 300px;
    text-align: center;
    font-size: 18px;
    background-color: #ccc;
    border-bottom: 1px solid #333;
    font-weight: bold;
    padding: 20px 0;
}


.aclass>ul>li:hover {
    background-color: rgb(255, 236, 239);
}


#detail>ul>li:nth-of-type(1) {
    border: 1px solid #333;
    border-bottom: none;
    background-color: white;
}

#post {
    width: 1200px;
    height: 465px;

}

#post .textbox li {
    float: left;
    width: 80%;
    margin-left: 140px;
    margin-top: 20px;

}

#post>ul>li:nth-of-type(2) {
    border: 1px solid #333;
    border-bottom: none;
    background-color: white;
}


#review {
    width: 1200px;
    height: 500px;

}

#review_box button {
    background-color: antiquewhite;
    margin-left: 103px;
    margin-top: 25px;
    color: #333;
    width: 155px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #333;
}

#review2 {
    width: 100%;
    height: 430px;
    position: relative;
}



#review2 table {
    width: 1100px;
    height: 390px;
    margin: 0 auto;
    border-top: 3px solid #e9e9e9;
    border-bottom: 3px solid #e9e9e9;


    font-size: 20px;
    color: #333;

}

#review2 tr td:first-of-type,
#review2 tr td:last-of-type {
    width: 200px;
    text-align: center;
}

#review2 tr td:nth-of-type(2) {
    width: 400px;
}



#review>ul>li:nth-of-type(3) {
    border: 1px solid #333;
    border-bottom: none;
    background-color: white;
}

#qna {
    width: 1200px;
    height: 465px;

}



#qna>ul>li:nth-of-type(4) {
    border: 1px solid #333;
    border-bottom: none;
    background-color: white;
}

#qna22 {

    margin-top: 71px;
    width: 1200px;
    height: 500px;


}



#qna22>ul>li {
    float: left;
    width: 80%;
    margin-left: 140px;
    margin-top: 40px;
}